h1 {
	outline: none;
	background: url(https://media.giphy.com/media/l4FszBJuaMoWL8w0g/giphy.gif);
	background-size: contain;
	background-position: top left;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 10rem;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	margin-bottom: 3%;
}

.subtitle {
  text-align: center;
  color: orangered;
  margin: auto;
  font-family:'Courier New', Courier, monospace;
}